a:link { 
text-decoration:none; 
}

body{
margin:0px;
}

li{
list-style:none;
}

/* Header */

header{
background-color:#C896A5;
}

.head-westia{
max-width:1500px;
display:flex;
justify-content:space-between;
background-image:url(bi.png);
background-repeat:no-repeat;
background-size: 50px 50px;
background-position:20px;
padding-left:65px;
}

.head-westia:hover .titre-haut-horizantal{
color:black;
}

.head-westia .one:hover{
color:#0691F2;
}

.head-westia .two:hover{
color:#FE9886;
}

.head-westia .three:hover{
color:#3AB16A;
}

.head-westia .fors:hover{
color:#1C55C5;
}

.titre-haut-horizantal{
color:white;
Font-size:20px;
}

.head-westia:hover{
background-color:white;
}

.head-list-gch{
width:70%;
}

#drop-menu{
display:flex;
justify-content:space-between;
}

.drop-menu-1{
line-height:28px;
}

.head-sous-list1{
display:none;
margin-left:-105px;
margin-top:2.5px;
padding-top:30px;
height:175px;
}

.slim:hover{
color:#0691F2;
}

.slims{
color:black;
}

.slims:hover{
font-weight:bold;
}

.amin:hover{
color:#FE9886;
}

.amins{
color:black;
}

.amins:hover{
font-weight:bold;
}

.jalel:hover{
color:#3AB16A;
}

.jalels{
color:black;
}
    
.jalels:hover{
font-weight:bold;
}

.drop-menu-1gch{
padding-left:95px;
width:200px;
}

.drop-menu-1one{
width:200px;
padding-top:20px;
}

.drop-menu-1two{
width:160px;
padding-top:20px;
}

.drop-menu-1three{
width:160px;
padding-top:20px;
}

.drop-menu-1fors{
width:160px;
padding-top:20px;
}

.drop-menu-1dt{
padding-left:190px;
}

#butt-drop-1{
color:white;
font-size:16px;
width:150px;
height:50px;
background-color:#0691F2;
}

.head-sous-list2{
display:none;
margin-left:-406px;
margin-top:2.5px;
padding-top:30px;
height:145px;
}

#butt-drop-2{
color:white;
font-size:16px;
width:150px;
height:50px;
background-color:#FE9886;
}

.drop-menu-2gch{
padding-left:95px;
width:200px;
}

.drop-menu-2one{
width:200px;
padding-top:15px;
}

.drop-menu-2two{
width:200px;
padding-top:15px;
}

.drop-menu-2dt{
padding-left:528px;
padding-right: 20px;
}

.head-sous-list3{
display:none;
margin-left:-618px;
margin-top:2.5px;
padding-top:30px;
height:230px;
padding-right:15px;
}

#butt-drop-3{
color:white;
font-size:16px;
width:150px;
height:50px;
background-color:#3AB16A;
}

.drop-menu-3gch{
padding-left:95px;
width:200px;
}

.drop-menu-3one{
width:200px;
padding-top:15px;
}

.drop-menu-3two{
width:232px;
padding-top:15px;
}

.drop-menu-3three{
width:260px;
padding-top:15px;
}    

.drop-menu-3dt{
padding-left:355px;
padding-right:20px;
}

.head-sous-list4{
display:none;
margin-left:-883px;
margin-top:2.5px;
padding-top:30px;
height:250px;
padding-right:21px;
}

.drop-menu-4gch{
padding-left:95px;
width:200px;
padding-right:20px;
}

.drop-menu-4milieu2{
width:288px;
padding-right:35px;
padding-left:60px;
border:0.5px solid grey;
height:207px;
margin-right:20px;
}

.drop-menu-4dt{
width:288px;
padding-right:35px;
padding-left:60px;
border:0.5px solid grey;
height:207px;
}

#drop-menu{
position:relative;    
height:25px;
margin-top:23px;
}

#drop-menu .head-list-1 .head-sous-list1{
position:absolute;
}

#drop-menu .head-list-1:hover .head-sous-list1{
display:flex;
background-color:white;
width:100%;
} 

#drop-menu .head-list-2 .head-sous-list2{
position:absolute;
}
    
#drop-menu .head-list-2:hover .head-sous-list2{
display:flex;
background-color:white;
width:100%;
} 

#drop-menu .head-list-3 .head-sous-list3{
position:absolute;
}
        
#drop-menu .head-list-3:hover .head-sous-list3{
display:flex;
background-color:white;
width:100%;
} 
    
#drop-menu .head-list-4 .head-sous-list4{
position:absolute;
}
            
 #drop-menu .head-list-4:hover .head-sous-list4{
display:flex;
background-color:white;
width:100%;
} 
 
.head-list-dt{
padding-top:8.5px;
padding-right:8.5px;
}

#pp-but1{
width:100px;
height:40px;
background-color: white;
border-radius:5px;
font-family: Walsheim;
Font-size: 14px;
Font-weight: 500px;
color:#2A2D35;
text-align: center;
}

#pp-but1:hover{
box-shadow:0px 3px 0px grey;
}  

#pp-but2{
width:100px;
height:40px;
background-color:#3EA9F5;
border-radius:5px;
border-color:#3EA9F5;
font-family: Walsheim;
Font-size: 14px;
Font-weight: 500px;
color:white;
text-align: center;
}

#pp-but2:hover{
box-shadow:0px 3px 0px #3EA9F5;
}  

/* Main */

.main-haut{
display:flex;
justify-content: space-between;
max-width:1500px;
padding-right:85px;
padding-left:85px;
align-items:center;
background-color:#C896A5;
height:506px;
}

.main-haut-dt{
padding-top:65px;
}

.main-haut-gch{
padding-right:20px;
}

#tit-h{
color: #363945;
font-size: 2.6em;
font-weight: 40px;
}

#vs{
color:rgb(255, 255, 255);
}

#but-vid{
background-color: white;
bottom:3px;
font-size:20px;
width:215px;
height:70px;
border:2px solid transparent;
border-radius:5px;
text-align: center;
}

#but-vid:hover{
box-shadow: 0px 3px 1px grey;
}

.main-milieu-1{
display:flex;
max-width:1500px;
height:420px;
align-items:center;
}

.titre-design{
color:white;
font-size:24px;
font-weight:700px;
line-height:30px;
}

.pa-design{
font-size:20px;
line-height:30px;
}

.commun{
font-size:18px;
height:60px;
border:2px solid white;
border-radius:5px;
}

.butt-designone{
background-color:#FED24A;
}

.butt-designone:hover{
box-shadow:0px 3px 1px grey;
background-color:white;
}

.butt-designtwo:hover{
box-shadow:0px 3px 1px grey;
background-color:white;
}

.butt-designthree:hover{
box-shadow:0px 3px 1px grey;
background-color:white;
}

.butt-designtwo{
background-color:#51C29F;
}

.butt-designthree{
background-color:#3EA9F5;
}

.lm{
text-decoration-line: underline;
}

.main-milieu-1-gch{
height:325px;
padding:45px 58px 50px;
width:33.33%;
background-color:#FED24A;
}

.fas.fa-chart-line{
color:rgb(62, 169, 245);
font-size:55px;
}

.fas.fa-laptop{
color:rgb(231, 184, 199);
font-size:55px;
}

.fas.fa-book{
color:rgb(254, 210, 74);
font-size:55px;
}

.main-milieu-1-mil{
padding:45px 58px 50px;
height:325px;
width:33.33%;
background-color:#51C29F;
}

.main-milieu-1-dt{
height:325px;
padding:45px 58px 50px;
width:33.33%;
background-color:#3EA9F5;
}

.main-milieu-2{
display:flex;    
justify-content:space-between;
height:338px;
justify-content:center;
align-items:center;
margin-left:35px;
}

.main-organi{
width:300px;
display:flex;
justify-content:center;
align-items:center;
}

.main-bas{
display:flex;
flex-direction:column;
height:440px;
width:100%;
}

.main-bas1{
display:flex;
height:440px;
width:100%;
}

.main-bas-gch{
width:33.3%;
margin-left:85px;
padding-right:38px;
}

.main-bas-milieu{
width:33.3%; 
padding-right:38px;  
}

.main-bas-dt{
width:33.3%;
margin-right:85px;
}

.tit-1{
font-size:18px;
font-weight:700px;    
}

.parag-prop{
color:#2A2D35;
font-family:Walsheim;
font-weight:400px;    
}

.para-soulign{
text-decoration-line:underline;   
font-family:Walsheim;
font-weight:400px;      
}

/* Footer */

.haut-foot{
display:flex;
justify-content:center;
align-items: flex-end;    
color:#ACADB1;
background-color:#EFEFEF;
height:50px;
}

#termm{
text-decoration-line:underline;     
}

.foot-general{
display:flex;
flex-direction:column;
background-color:#2A2D35;
height:450px;
padding-top:70px;
}

.foot-general-prime{
display:flex;
height:220px;
}

.foot-gch{
width:285px;  
margin-left:55px;  
}

.coul-mot{
color:white;   
}

#F-L-T-I{
color:rgb(58, 177, 106);    
}

.foot-mil-dt{
border-left:1px solid grey; 
display:flex;
justify-content:space-between;
width:700px;
margin-left:100px;
margin-right:120px;
}

.foot-mil-dt-1{
margin-left:50px;
width:150px;
}

.fa-arrows-alt-h{
color:#1D679B;
Font-size:25px;
}

.foot-mil-dt-2{  
width:150px;  
margin-left:50px; 
}

.coleur-pa{
color:white;
}

.fa-circle{
color:#53BBFF;
Font-size:25px;
}

.fa-caret-right{
color:#B7E7EE;
Font-size:25px;
}

.fa-ad{
color:#FFDA97;
Font-size:25px;
}

.foot-mil-dt-3{  
width:150px;  
margin-left:80px; 
}

.foot-mil-dt-4{ 
width:150px; 
margin-left:115px;
}

.parag{
display:flex;
height:50%;
justify-content:center;
align-items:flex-end;
color:#9EA4AC;
}